<!DOCTYPE html>
<html>
<head>
    <title>Sample FC</title>
    <script src='/static/js/main.js'></script>
    <script src='/static/js/htmx.min.js'></script>
    <link rel='stylesheet' href='/static/css/main.css'>
</head>
<body>
    <h1>Sample FC</h1>
    <p>Generate representative functional connectivity based on demographic and phenotype data.</p>
    <p><b>These FCs are not from real subjects.</b> They do not identify any particular person.</p>
    <div id='container'>
        <div id='left'>
            <form class='form-block'>
                <label for='dataset'>Model:</label>
                <select id='dataset' name='dataset'>
                    <option value='PNC'>Philadelphia Neurodevelopmental Cohort</option>
                    <!--<option value='BSNIP'>Bipolar and Schizophrenia Network of Intermediate Phenotypes</option>-->
                </select><br>
                <label for='atlas'>Atlas:</label>
                <select id='atlas' name='atlas'>
                    <option value='Power264'>Power264</option>
                </select>
            </form>
            <form class='form-block'>
                <label for='preset'>Preset:</label>
                <select id='preset' name='preset'>
                    <option value='8-male-ea'>8 yo EA Male</option>
                    <option value='8-female-ea'>8 yo EA Female</option>
                    <option value='14-female-aa'>14 yo AA Female</option>
                    <option value='22-male-aa'>22 yo AA Male</option>
                </select><br>
                <label for='age'>Age:</label>
                <input type='range' id='age' name='age' min='8' max='22' step='1' value='8'>
                <span id='age-value'>8</span>
                <br>
                <label for='sex'>Sex:</label>
                <input type='radio' name='sex' id='male' value='male' checked>Male
                <input type='radio' name='sex' id='female' value='female'>Female<br>
                <label for='sex'>Race:</label>
                <select id='race' name='race'>
                    <option value='ea'>European Ancestry</option>
                    <option value='aa'>African Ancestry</option>
                </select><br>
                <label for='task'>Task:</label>
                <select id='task' name='task'>
                    <option value='rest'>Resting State</option>
                    <option value='nback'>Working Memory (nback)</option>
                    <option value='emoid'>Emotion Identification (emoid)</option>
                </select><br>
                <label for='number'># Averaged:</label>
                <input type='range' min='0' max='3' step='0.3' value='0' id='number' name='number' placeholder="Number">
                <span id='number-value'>1</span><br>
                <button id='generate' hx-post='/generate' hx-target='#img'>Generate</button>
                <button id='generate' hx-post='/generate-var' hx-target='#img'>Generate Variance</button>
            </form>
        </div>
        <div id='img'>
            <h4>No FC generated yet.</h4>
            <!--<img width='300' height='300' id='FC' src='img/FC.png'>-->
        </div>
        <div id='networks'>
        </div>
    </div>
</body>
</html>
